<div class="bg-black py-8 text-white">
  <div class="m-auto md:w-2/3">
    <h1>Kithara</h1>
    <ux-skill-pill>Mockups</ux-skill-pill>
    <ux-skill-pill>Requierements Engineering</ux-skill-pill>
    <ux-skill-pill>Architecture</ux-skill-pill>

    Deepening in requirements engineering / prototyping / design and
    implementation of UI/UX concepts taking in consideration the latest agile
    methods. Master thesis: Kithara, an intelligent mobile application for
    supporting users to find web domains with a swipe based learning system.
    Requirements engineering, user research, UI / UX design, following a user
    centered design approach.
    <div class="flex flex-col items-center justify-center gap-6 p-8">
      <img src="projects/kithara/kithara1.png" class="w-2/3" />
      <img src="projects/kithara/kithara2.png" class="w-2/3" />
      <img src="projects/kithara/kithara3.png" class="w-2/3" />
    </div>
  </div>
  <div class="bg-blue-900 py-8 text-white">
    <div class="m-auto md:w-2/3">
      <h2>The challenges...</h2>
      Deepening in requirements engineering / prototyping / design and
      implementation of UI/UX concepts taking in consideration the latest agile
      methods. Master thesis: Kithara, an intelligent mobile application for
      supporting users to find web domains with a swipe based learning system.
      Requirements engineering, user research, UI / UX design, following a user
      centered design approach.
      <div class="flex flex-col items-center justify-center gap-6 p-8">
        <img src="projects/kithara/kithara1.png" class="w-2/3" />
        <img src="projects/kithara/kithara2.png" class="w-2/3" />
        <img src="projects/kithara/kithara3.png" class="w-2/3" />
      </div>
    </div>
  </div>
  <div class="bg-cyan-900 py-8 text-white">
    <div class="m-auto md:w-2/3">
      <h2>The result...</h2>
      Deepening in requirements engineering / prototyping / design and
      implementation of UI/UX concepts taking in consideration the latest agile
      methods. Master thesis: Kithara, an intelligent mobile application for
      supporting users to find web domains with a swipe based learning system.
      Requirements engineering, user research, UI / UX design, following a user
      centered design approach.
      <div class="flex flex-col items-center justify-center gap-6 p-8">
        <img src="projects/kithara/kithara1.png" class="w-2/3" />
        <img src="projects/kithara/kithara2.png" class="w-2/3" />
        <img src="projects/kithara/kithara3.png" class="w-2/3" />
      </div>
    </div>
  </div>
  <div class="bg-purple-900 py-8 text-white">
    <div class="m-auto md:w-2/3">
      <div class="my-8 flex flex-wrap justify-center gap-4">
        <ux-skill-pill>Angular</ux-skill-pill>
        <ux-skill-pill>Typescript</ux-skill-pill>
        <ux-skill-pill>Tailwind</ux-skill-pill>
        <ux-skill-pill>NX</ux-skill-pill>
        <ux-skill-pill>NgRx</ux-skill-pill>
        <ux-skill-pill>Figma</ux-skill-pill>
        <ux-skill-pill>Affinity</ux-skill-pill>
        <ux-skill-pill>User Rearch</ux-skill-pill>
        <ux-skill-pill>Scrum</ux-skill-pill>
      </div>
    </div>
  </div>
</div>
