<div>
  <div class="m-auto flex flex-col px-4 md:w-2/3 md:px-0">
    <h1 class="mb-8">
      Hello! I'm Fabian, and I productify ideas into digital experiences.
    </h1>
    <div class="flex flex-col gap-4 sm:flex-row">
      <img src="profil.jpg" class="size-48 rounded-full" />
      <div class="max-w-none sm:columns-2">
        I harness cutting-edge technology to create user-centric web products
        that unite design and functionality. By balancing aesthetics with
        performance, I ensure each project not only looks great but works
        seamlessly. Collaborating with clients, I solve challenges with a focus
        on both problem-solving and visual impact. As a tech lead, I guide
        development and design, emphasizing scalability and maintainability. My
        mission is to bridge design and development, turning ideas into polished
        code and delivering impactful online experiences from concept to
        completion.
      </div>
    </div>
    <img src="productified.png" class="my-4 w-full rounded-2xl p-0" />
    <div class="mt-4 grid gap-8 sm:grid-cols-3">
      <div
        data-aos="zoom-in"
        data-aos-duration="3000"
        class="flex flex-col items-center rounded-3xl bg-slate-200 p-4"
      >
        <h2>design</h2>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-duration="3000"
        class="flex flex-col items-center rounded-3xl bg-slate-200 p-4"
      >
        <h2>architect & tech lead</h2>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-duration="3000"
        class="flex flex-col items-center rounded-3xl bg-slate-200 p-4"
      >
        <h2>&#60;code&#62;</h2>
      </div>
    </div>
    <div class="mt-8">
      Currently I work as an Senior
      <span class="font-semibold">UX Engineer</span> in Virtamed AG, developing
      the frontend of Virtamed's
      <span class="font-semibold">Cloud Application</span>, but also for
      <span class="font-semibold">machine learning</span> and
      <span class="font-semibold">augmented reality</span> based, mobile surgery
      simulators with
      <span class="font-semibold"
        >Figma/Angular/Typescript/Tailwind/Playwright</span
      >
      and other tools and libraries.
    </div>
  </div>
</div>
