<div>
  <div class="m-auto flex flex-col px-4 md:w-2/3 md:px-0">
    <h1 class="my-8 flex w-full justify-center">- Backpack -</h1>
    <h2 class="flex justify-center text-center">
      Along with my experience collected in my daily work I have a edcuation
      backpack in a broad range of design and technology topics.
    </h2>
    <div class="flex flex-wrap justify-center gap-2">
      <ux-edu-pill>MAS Human Computer Interaction Design</ux-edu-pill>
      <ux-edu-pill>CAS Interaction Design</ux-edu-pill>
      <ux-edu-pill>CAS Requirements Engineering</ux-edu-pill>
      <ux-edu-pill>EB 3D-Visualization/-Animation</ux-edu-pill>
      <ux-edu-pill>DAS Industrial Design</ux-edu-pill>
      <ux-edu-pill>FH Mikrotechnik</ux-edu-pill>
    </div>
  </div>
</div>
