<div class="bg-black py-8 text-white">
  <div class="m-auto md:w-2/3">
    <h1>Connect</h1>
    <ux-skill-pill>Mockups</ux-skill-pill>
    <ux-skill-pill>Requierements Engineering</ux-skill-pill>
    <ux-skill-pill>Architecture</ux-skill-pill>
    Lead of UX design and Frontend Development of the cloud based simulator
    management, using latest tools and technologies, like Figma / Angular /
    Typescript / Tailwind. Maintaining design guidelines, User research for new
    features, as for example a dynamic dashboard or course editor for training
    and education. Development of an iPad web application for surgical training
    using augmented reality and machine learning. Supporting product owner in
    the scrum master role to follow an agile process.
    <div class="flex flex-col items-center justify-center gap-6 p-8">
      <img src="projects/connect/connect1.png" class="w-2/3" />
      <img src="projects/connect/connect2.png" class="w-2/3" />
    </div>
  </div>
</div>
<div class="bg-blue-900 py-8 text-white">
  <div class="m-auto md:w-2/3">
    <h2>The challenges...</h2>
    Lead of UX design and Frontend Development of the cloud based simulator
    management, using latest tools and technologies, like Figma / Angular /
    Typescript / Tailwind. Maintaining design guidelines, User research for new
    features, as for example a dynamic dashboard or course editor for training
    and education. Development of an iPad web application for surgical training
    using augmented reality and machine learning. Supporting product owner in
    the scrum master role to follow an agile process.
    <div class="flex flex-col items-center justify-center gap-6 p-8">
      <img src="projects/connect/connect1.png" class="w-2/3" />
      <img src="projects/connect/connect2.png" class="w-2/3" />
    </div>
  </div>
</div>
<div class="bg-cyan-900 py-8 text-white">
  <div class="m-auto md:w-2/3">
    <h2>The result...</h2>
    Lead of UX design and Frontend Development of the cloud based simulator
    management, using latest tools and technologies, like Figma / Angular /
    Typescript / Tailwind. Maintaining design guidelines, User research for new
    features, as for example a dynamic dashboard or course editor for training
    and education. Development of an iPad web application for surgical training
    using augmented reality and machine learning. Supporting product owner in
    the scrum master role to follow an agile process.
    <div class="flex flex-col items-center justify-center gap-6 p-8">
      <img src="projects/connect/connect1.png" class="w-2/3" />
      <img src="projects/connect/connect2.png" class="w-2/3" />
    </div>
  </div>
</div>
<div class="bg-purple-900 py-8 text-white">
  <div class="m-auto md:w-2/3">
    <div class="my-8 flex flex-wrap justify-center gap-4">
      <ux-skill-pill>Angular</ux-skill-pill>
      <ux-skill-pill>Typescript</ux-skill-pill>
      <ux-skill-pill>Tailwind</ux-skill-pill>
      <ux-skill-pill>NX</ux-skill-pill>
      <ux-skill-pill>NgRx</ux-skill-pill>
      <ux-skill-pill>Figma</ux-skill-pill>
      <ux-skill-pill>Affinity</ux-skill-pill>
      <ux-skill-pill>User Rearch</ux-skill-pill>
      <ux-skill-pill>Scrum</ux-skill-pill>
    </div>
  </div>
</div>
