<div>
  <h1 class="my-8 flex w-full justify-center">- Crafting -</h1>
  <div class="m-auto flex flex-col px-4 md:w-2/3 md:px-0">
    <div class="flex w-full flex-col gap-2 md:flex-row">
      <div
        class="flex-1 rounded-3xl bg-blue-100 p-8 md:rounded-none md:rounded-tl-3xl">
        <h2>Involve the users</h2>
        <div>
          I prioritize seamless, delightful user interactions through deep
          research, insights from interviews and surveys, and meticulous
          wireframing and prototyping. Iterating based on real user feedback, I
          transform complex requirements into elegant, user-friendly designs. I
          champion accessibility and inclusivity, ensuring products meet diverse
          needs and abilities, creating meaningful connections between users and
          products.
        </div>
        <div class="flex justify-end p-2 text-3xl font-bold"></div>
      </div>
      <div
        class="flex-1 rounded-3xl bg-blue-100 p-8 md:rounded-none md:rounded-tr-3xl">
        <h2>Be curious and creative</h2>
        <div>
          Innovation is key to my approach. As a forward-thinking designer, I
          explore novel solutions and challenge norms. I foster team creativity,
          encouraging fresh ideas. Embracing experimentation and risk-taking, I
          drive design breakthroughs. My goal is to create user-friendly designs
          that surprise and delight, pushing boundaries and inspiring other
          projects.
        </div>
      </div>
    </div>
    <div class="mt-2 flex w-full flex-col gap-2 md:flex-row">
      <div
        class="flex-1 rounded-3xl bg-blue-100 p-8 md:rounded-none md:rounded-bl-3xl">
        <h2>Grow with exchange</h2>
        <div>
          I share strategies for continuous learning and adaptation, staying
          updated on technologies and trends. Collaborating with
          cross-functional teams ensures design aligns with business goals.
          Engaging with diverse experts, I infuse innovation into our work.
          Embracing change, I see it as an opportunity for growth.
        </div>
      </div>
      <div
        class="flex-1 rounded-3xl bg-blue-100 p-8 md:rounded-none md:rounded-br-3xl">
        <h2>Lead and take responsability</h2>
        <div>
          Leading technical teams has taught me the value of collaboration. I
          prioritize team alignment on project goals. I focus on system
          architecture, ensuring scalability, maintainability, and performance.
          My approach breaks down complex problems into manageable parts,
          designing robust solutions. Balancing priorities, I allocate resources
          based on needs, deadlines, and quality.
        </div>
      </div>
    </div>
  </div>
</div>
